<h1>All Posts</h1>
<!-- Iterate over each post in posts. For each post we create a link with post.title that links to posts/id. -->
<% @posts.each do |post| %>
    <div class='media'>
        <div class='media-body'>
            <h4 class='media-heading'>
                <%= link_to post.title, post %>
            </h4>
        </div>
    </div>
<% end %>